Dockerfile
.dockerignore
.env
*.md
.gradle
.idea
gradle

frontend/.dart_tool
frontend/.idea
frontend/.pub
frontend/logs/
frontend/test/
frontend/build/
frontend/.analysis-options
frontend/.packages
frontend/*.g.dart
frontend/android
frontend/ios

backend/.idea
backend/.gradle
backend/build
